---
import Layout from '../layouts/Layout.astro';
import { css } from '../../styled-system/css';
---

<Layout title="Welcome to Astro.">
	<div class={css({ background: "red.300", height: "full", width: "full" })}></div>
</Layout>
